@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
  font-family: 'Roboto', sans-serif;
}

/* body input {
  width: 40px;
  text-align: center;
} */

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 30px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
  padding: 50px 50px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 7px;

}
.container .currency {
  display: flex;
  flex-direction: column;
}
.currency input, option {
  width: 150px;
  height: 30px;
  margin-top: 10px;
  padding: 0 5px;
  outline: none;
  border: 1px solid black;
}
.currency select:focus {
  outline: none;
}
.currency select, input {
  font-size: 20px;
  border-radius: 5px;
}
.currency  input {
  border: none;
  background-color: #ecf0f1;
  transition: all .3s;
}
.currency input:focus {
  transition: all .3s;
  border-bottom: 1px solid green;
}
.container .swap-rate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
}
.container .swap-rate-container button{
  outline: none;
  font-size: 15px;
  font-weight: 700;
  color: #2d3436;
  background-color: transparent;
  cursor: pointer;
  border: none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all .3s;
}
.container .swap-rate-container button:hover {
  color: #b2bec3;
  transition: all .3s;
}
.container .swap-rate-container button:active {
  transform: scale(.97);
  transition: all .3s;
}

@media screen and (max-width: 500px){
  .container {
    flex-direction: column;
  }
}
